*{ margin: 0px;
    padding:0px;
    color: white;
    font-family: 'Inconsolata', monospace;}

body{background-color: rgb(79, 78, 82);}

header{ width: 100vw;
    margin-top: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(35, 41, 48);
    position: fixed;
z-index: 10;}
h1 {display: inline-block;
    text-align: center;
    letter-spacing:1rem;
    width: 60%;
    margin: 0px;;
    }

ul  {
    display: inline-block;
    width: 37%;;
    margin: 0%;
    padding: 0%;}
ul li  {display: inline-block;
    width: 8rem;
    text-align: center;}
ul li a{margin: 0px;
    text-align: right;
    font-size: 20px;    
    letter-spacing: 0.2rem;}
ul li a:hover{

     text-decoration: underline;
}

.right{ height: 80rem;
    width: 20%;
    display: inline-block;
    margin: 2.5%;
    border-radius: 1rem;
    background-color: rgb(35, 35, 39);
    position: absolute;
    margin-top: 6.5rem;
z-index: -1;}
.left{ width: 70%;
    height: 80rem;
    margin: 2.5%;
    margin-top: 6.5rem;
    margin-right: 0rem;
    display: inline-block;
    border-radius: 1rem;
    background-color: rgb(35, 35, 39);
z-index: -1;}

.left p{font-family: 'Indie Flower', cursive;
    letter-spacing: 0.1rem;
    margin: 2rem;
    line-break: 3rem;
    }
.right p{font-family: 'Indie Flower', cursive;
    letter-spacing: 0.1rem;
    margin: 2rem;
    line-break: 3rem;
    }


footer{

    width: 100vw;
    height: 6rem;
    background-color: rgb(36, 129, 168);
}
footer h2{ 
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 1.2rem;
}

#review{ 
    background-color:rgb(95, 95, 95);
    border-radius: 1rem;
    padding: 1rem;
    color: black;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin-left: 2rem;
    text-align: center;
    font-weight: bold;
    text-align: right;
}
#review:hover{
    background-color:rgb(51, 51, 51);
    border-radius: 1rem
}
#review:active{
    background-color:rgb(53, 53, 53);
    border-radius: 1rem;
    color:grey;
}
#light{ 
    background-color:rgb(95, 95, 95);
    border-radius: 1rem;
    padding: 1rem;
    color: black;
    letter-spacing: 0.2rem;
    text-decoration: none;
    margin-left: 2rem;
    text-align: center;
    font-weight: bold;
    text-align: right;
}
#light:hover{
    background-color:rgb(51, 51, 51);
    border-radius: 1rem;
}
#light:active{
    background-color:rgb(53, 53, 53);
    border-radius: 1rem;
    color:grey;
}

.navv{text-decoration: none;}
.navv:hover{color: thistle;
    text-decoration: none;}
