*{margin: 0rem;
    padding: 0rem;
    font-family: 'Inconsolata', monospace
;}
body{
    width: 100vw;
    height: 100vw;
    background-color: rgb(79, 78, 82);
}
h2{letter-spacing: 0.4rem;
    background-color: rgb(32, 30, 36);
    color: white;
    text-align: center;
    padding: 2rem;
}
header form{
    
    letter-spacing: 0.1rem;
    padding: 3rem;
    background-color: white;
    width: 50%;
    height: 18rem;
    margin: 7rem auto;
    border-radius: 2rem;
}
.inp{padding: 2rem;
    background-color: rgb(216, 216, 216);
    height: 1rem;
    padding: 0.5rem;
    color: black;}
.textbox{
    
    width: 85%;
height:6rem;}